button {
    height: 2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
    outline: none;
    border: 0px solid black;
    background-image: linear-gradient(to right, #708d58 0%, #2b3b33 51%, #708d58 100%);
    background-size: 200% auto;
    background-position: left top;
    border-color: transparent;
    transition: all 0.5s;
    color: white;
    cursor: pointer;
    margin-left: 1rem;
}

button:hover {
    background-position: right bottom;
}