.header {
  width: 100%;
  display: flex;
  flex-direction: column;

  &.light {
    background-color: white;
  }

  &.dark {
    background-color: #23272F;
  }
}

.headerContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}