.pageLinkConteiner {
    display: flex;
    flex-direction: row;
}

.pageLink {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

.pageLink.active {
    border: 1px solid blue;
    color: blue;
}